<div class="container">
  <header>
    <h1>Flex box test</h1>
  </header>
  <ul class="item-list">

    <li class="item item1">
      <img src="http://source.unsplash.com/B1amIgaNkwA/480x320/">
      <div class="item-text">
        <h2>Item 1</h2>
        
      </div>
    </li>

    <li class="item item2">
      <img src="http://source.unsplash.com/xcC5ozHk_N8/480x320/">
      <div class="item-text">
        <h2>Item 2</h2>
        
      </div>
    </li>
    <li class="item item3">
      <img src="http://source.unsplash.com/mWRR1xj95hg/480x320/">
      <div class="item-text">
        <h2>Item 3</h2>
       
      </div>
    </li>
    <li class="item item4">
      <img src="http://source.unsplash.com/yEOCA6oiVqg/480x320/">
      <div class="item-text">
        <h2>Item 4</h2>
        
      </div>
    </li>
    <li class="item item5">
      <img src="http://source.unsplash.com/VB-w_3dnyvI/480x320/">
      <div class="item-text">
        <h2>Item 5</h2>
      
      </div>
    </li>
    <li class="item item6">
      <img src="http://source.unsplash.com/yOujaSETXlo/480x320/">
      <div class="item-text">
        
      </div>

        
      </div>
    </li>
    
  </ul>
</div>